In [25]:
print("Shivam Mukati")

Shivam Mukati

In [26]:
import numpy as np
import pandas as pd

In [27]:
train = pd.read_csv("Train.csv")
test = pd.read_csv('Test.csv')
train.head()
train.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [28]:
y_train = train['survived']
train.drop('survived',axis = 1,inplace = True)
x_train = train

In [29]:
x_test = test
#x_test.head()
x_train.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN

In [30]:
 from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
def cleaning(x):
    x['age'] = x.groupby(['sex','pclass'])['age'].apply(lambda y:y.fillna(y.mean()))
    
    med_fare= x.groupby(['pclass','parch','sibsp']).fare.median()[3][0][0]
    
    x['fare'] = x['fare'].fillna(med_fare)
    
    x['family'] = x['sibsp']+x['parch']+1 
    x['fare'] =  x['fare']/x['family']
    x['embarked'] = x['embarked'].fillna('mode')
    
    x.drop([ 'name', 'sibsp', 'parch', 'ticket',
        'cabin', 'boat', 'body', 'home.dest',],axis = 1,inplace=True)
    
    x['sex']=le.fit_transform(x['sex'].values)
    x['embarked']=le.fit_transform(x['embarked'].values)
    
    return x
X_train = cleaning(x_train)
X_train.head()
X_test  = cleaning(x_test)

In [31]:
X_train.head()

   pclass  sex        age       fare  embarked  family
0     3.0    0  22.412698   7.750000         1     1.0
1     2.0    1  39.000000  26.000000         2     1.0
2     2.0    0  40.000000  13.000000         2     1.0
3     3.0    0  31.000000   6.841667         2     3.0
4     3.0    0  22.412698   7.750000         1     3.0

In [32]:

X_test.head()

   pclass  sex        age       fare  embarked  family
0     1.0    1  36.000000  26.387500         2     1.0
1     3.0    0  21.083335   6.322727         2    11.0
2     1.0    1  40.511905  50.000000         2     1.0
3     2.0    1  34.000000  13.000000         2     1.0
4     2.0    1  28.000000  13.000000         2     1.0

In [33]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=20,max_depth=6)
rfc.fit(X_train,y_train)

RandomForestClassifier(max_depth=6, n_estimators=20)

In [34]:
rfc.score(X_train,y_train)

0.8553022794846382

In [35]:
pred = rfc.predict(X_test)

In [36]:
submission = pd.DataFrame?

In [ ]:
submission = pd.DataFrame

In [37]:
submission = pd.DataFrame

In [38]:
submission = pd.DataFrame(data = pred,columns = ['survived'])

In [39]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
mnb.fit(X_train,y_train)

MultinomialNB()

In [40]:
pred1 = mnb.predict(X_test)

In [41]:
ID = np.arange(X_test.shape[0])
finalNB = pd.DataFrame()
finalNB['id'] = ID
finalNB['survived'] = pred1

In [42]:
finalNB.head()

   id  survived
0   0       1.0
1   1       0.0
2   2       1.0
3   3       0.0
4   4       0.0

In [43]:
finalNB.to_csv('finalNB.csv',index = False)