In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
df = pd.read_csv("Train.csv")
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [47]:
df = df.values
X = df[:,:5]
Y = df[:,-1]

In [48]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X,Y)

LinearRegression()

In [49]:
X_test = pd.read_csv("Test.csv");
X_t = X_test.values

In [50]:
Y_pred = reg.predict(X_t)

In [51]:
sample = pd.read_csv("Sample_Submission.csv")
sample.head()

   Id  target
0   0       0
1   1       1
2   2       2
3   3       3
4   4       4

In [52]:
ans = pd.DataFrame(data=Y_pred,columns=["target"])
ans.head()

       target
0  114.583689
1  118.012815
2  -21.739852
3  -43.936899
4  -95.914898

In [53]:
new = np.arange(400)
ans.insert(0,"id",new)
ans.head(100)

    id      target
0    0  114.583689
1    1  118.012815
2    2  -21.739852
3    3  -43.936899
4    4  -95.914898
..  ..         ...
95  95   98.168406
96  96 -215.581459
97  97 -121.288951
98  98 -172.346819
99  99  -51.259413

[100 rows x 2 columns]

In [42]:
ans.to_csv("ans.csv",index = False)